.reservationComponent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    padding-top: 90px;
    padding-bottom: 50px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    height: 100vh !important;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.reservationComponent .containerFluid {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.reservationComponent .containerFluid > .row {
    flex-grow: 1;
}

.mapContainer > * {
    height: 100%;
}

.data {
    flex: 0 0 600px;
    overflow-y: auto;
    height: 100%;
    width: 600px;
    background-color: ghostwhite;
}

.containerFluid {
    height: 100%;
}

.row {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.flexito1 {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    margin-bottom: 20px;
}

.fl {
    flex: 1 1 auto;
    padding-left: 20px;
}

.salida {
    border-left: 2px solid;
    border-color: rgb(220, 220, 220);
}

.date {
    font-weight: bold;
    margin-bottom: unset;
}

.time {
    color: grey;
}

.grey {
    color: grey;
}

.firstContainer {
    background-color: white;
    margin-bottom: 10px;
}

.title {
    font-weight: 500;
    color: rgb(25 25 25);
}

.secondContainer2 {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.auxDiv {
    flex: 0 0 20px;
}

.arrow {
    float: right;
    padding-top: 4px;
}

.house {
    border: none;
}

.bottonss {
    border-top: 1px solid;
    border-color: rgb(220, 220, 220);
}

.secondTable {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.detallesReserva {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(60, 60, 60);
}

.divTitle {
    padding-top: 15px;
}

.boldFont {
    font-weight: bold;
}

.imgSize {
    max-height:350px;
    width: 100%;
    height: auto;
    border-radius: 1%;
}

.noMarginP {
    margin-bottom: unset;
}

.secondContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.paragraph {
    padding-left: 15px;
    text-align: justify;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.anfitrion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modalCentered {
    justify-content: center;
}

.modalTextCentered {
    text-align: center;
}

.mapText {
    font-weight: bold;
    font-size: medium;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.mapColumn {
    margin-bottom: 15px;
    display: none;
}

.mapColumn > * {
    max-height: 200px;
}