.reservation-component {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.reservation-component > .header {
    flex-shrink: 0;
}

.main {
    padding-top: 90px;
    padding-bottom: 50px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    height: 100vh !important;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.reservation-component .container-fluid {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.reservation-component .container-fluid > .row {
    flex-grow: 1;
}

.leaflet-container {
    height: 100%;
}

.data {
    flex: 0 0 600px;
    overflow-y: auto;
    height: 100%;
    width: 600px;
}

.container-fluid {
    height: 100%;
}

.row {
    height: 100%;
}