#twitter {
    margin: 0 10px 0 10px;
    text-decoration: none;
    background: #1da1f2;
    color: white;
    outline: auto;
    outline-color: #1da1f2;
    border: 1px #1da1f2;
    /* padding: 7px; */
    /* border-radius: 20px; */
    
}

#twitter:hover {
    color: #1da1f2;
    background: transparent;
    /* border: #1da1f2; */
    /* outline: auto;
    outline-color: #1da1f2; */
}